block content
  h1= title
  p Welcome to #{title}
  form(method='POST' action='/login')
          div.form-group
            label(for='username') Name:
            input#name.form-control(type='text', placeholder='Enter username..' name='username')
          div.form-group
            label(for='password') Password:
            input#email.form-control(type='password', placeholder='Enter password..' name='password')
          button.btn.btn-primary(type='submit') Sign up
