doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        h2 LocationBlogs!!!
        ul
            each val in locationblogs
                p= val.info
                p likes: #{val.likedBy.length}
                form(method='POST' action='/like')
                    div.form-group
                        input(type='hidden', name='username', value=username)
                        input(type='hidden', name='blogID', value=val._id)
                        button.btn.btn-primary(type='submit') Like
                p --------------------------
                
